<div class="search">

    <h3>CIV 6 DATABASE</h3>
    <h4>Search for internal configuration keys</h4>

    <LanguageSelector class="language-selector" :defaultLang="lang" @onLanguageChange="onLanguageChange" />

    <p>
        Example search: America, Galley, Redcoat_disembark...
        <br />
        <small>Note: some keys hold `true` or `false` for `1` and `0` values (boolean database field types).</small>
    </p>

    <form action="#">

        <md-content class="md-elevation-1">
          <md-field>
              <md-icon class="md-accent">search</md-icon>
              <label>Enter configuration keyword (case sensitive)</label>
              <md-input v-model="keyword"></md-input>
            </md-field>
            <md-button class="md-raised md-primary" :disabled="!isSearchable" @click="searchArtefacts">Search</md-button>
        </md-content>

        <div class="loader" v-if="loading">
            <img src="@/assets/spinner2.gif" />
        </div>

        <md-content class="md-elevation-1">
          <md-field>
              <md-icon class="md-accent">filter</md-icon>
              <label>Filter results</label>
              <md-input v-model="filterQuery"></md-input>
            </md-field>
        </md-content>

        <div class="content" v-if="!loading">
            <div v-for="(artefact, index1) in filteredArtefacts" :key="index1">
                <div class="mdl-grid" v-for="(item, index2) in artefact.Rows" :key="index2">
                    <div class="mdl-cell mdl-cell--12-col item--header" v-if="index2 === 0">{{ artefact.Header }}</div>
                    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone item--key">{{ item.Key }}</div>
                    <div class="mdl-cell mdl-cell--10-col mdl-cell--5-col-tablet mdl-cell--3-col-phone item--value" v-if="!item.isLink">{{ item.Value }}</div>
                    <div class="mdl-cell mdl-cell--10-col mdl-cell--5-col-tablet mdl-cell--3-col-phone item--value" v-if="item.isLink">
                        <button class="mdl-button mdl-js-button mdl-button--primary" @click="searchArtefactsByLink(item.Value)">
                            {{ item.Value }}
                        </button>
                    </div>
                </div>
            </div>
            <ul class="errors" v-if="errors && errors.length">
                <li v-for="(error, index) of errors" :key="index">
                    {{ error.message }}
                </li>
            </ul>
        </div>
    </form>

</div>
