<div class="search">

    <h3>CIV 6 DATABASE</h3>
    <h4>Search for internal configuration keys</h4>

    <LanguageSelector class="language-selector" :defaultLang="lang" @onLanguageChange="onLanguageChange" />

    <p>
        Example search: America, Galley, Redcoat_disembark...
        <br />
        <small>Note: some keys hold `true` or `false` for `1` and `0` values (boolean database field types).</small>
    </p>

    <form action="#">
        <div class="mdl-grid search-container">
            <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 90%">
                    <input class="mdl-textfield__input" type="text" id="keyword" v-model="keyword">
                    <label class="mdl-textfield__label" for="keyword">Enter configuration keyword (case sensitive)</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" :disabled="!isSearchable" @click="searchArtefacts"
                    style="margin-top:12px;">Search</button>
            </div>
        </div>

        <div class="loader" v-if="loading">
            <img src="@/assets/spinner2.gif" />
        </div>

        <div class="mdl-grid search-container" v-if="!loading && !isEmpty">
            <div class="mdl-cell mdl-cell--10-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 90%">
                    <input class="mdl-textfield__input" type="text" v-model="filterQuery" id="filterQuery">
                    <label class="mdl-textfield__label" for="filterQuery">Filter results</label>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--4-col-phone">
                <span class="mdl-badge" :data-badge="filteredCount" style="margin-top:16px;">Found</span>
            </div>
        </div>

        <div class="content" v-if="!loading">
            <div v-for="(artefact, index1) in filteredArtefacts" :key="index1">
                <div class="mdl-grid" v-for="(item, index2) in artefact.Rows" :key="index2">
                    <div class="mdl-cell mdl-cell--12-col item--header" v-if="index2 === 0">{{ artefact.Header }}</div>
                    <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--1-col-phone item--key">{{ item.Key }}</div>
                    <div class="mdl-cell mdl-cell--10-col mdl-cell--5-col-tablet mdl-cell--3-col-phone item--value" v-if="!item.isLink">{{ item.Value }}</div>
                    <div class="mdl-cell mdl-cell--10-col mdl-cell--5-col-tablet mdl-cell--3-col-phone item--value" v-if="item.isLink">
                        <button class="mdl-button mdl-js-button mdl-button--primary" @click="searchArtefactsByLink(item.Value)">
                            {{ item.Value }}
                        </button>
                    </div>
                </div>
            </div>
            <ul class="errors" v-if="errors && errors.length">
                <li v-for="(error, index) of errors" :key="index">
                    {{ error.message }}
                </li>
            </ul>
        </div>
    </form>
    
</div>